body {
    font-family: Arial, sans-serif;
    color: black;
  }
  
  h2 {
    text-align: center;
  }
  
  .productList {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .filter {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
  }

  .myBabyButton {
    align-self: center;
    width: 100%;
    background-color: black;
    color: white;
  }

  .myBabyButton:hover {
    background-color: #444;
  }
  
  .products {
    width: 75%;
    /* padding-left: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color: black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .sizes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  .size {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  